*{
    margin: 0;
    padding: 0;
}
html,body{
    font-family: 'Exo 2', sans-serif;
    height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.main {
	flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
    background-color: #05A88D;
    color: white;
    font-family: "Exo 2";
    padding: 40px 30px 0 30px;
    height: 260px;
    width: 1440px;
    box-sizing: border-box;
    align-self: center;
}

.footer__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid white;
    height: 140px;
}

.footer__left,
.footer__right {
    width: 20vw;
}

.footer__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.logo,
.phone {
    text-decoration: none;
    color: #F1E67D;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: bold;
    white-space: nowrap;
}

.contact {
    text-transform: uppercase;
    font-size: 13px;
}

.phone {
    margin-top: 10px;
}

.footer__bottom {
    height: 80px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.text,
.address,
.footer__bottom {
    font-size: 10px;
    font-weight: 200;
    padding: 20px 0;
}

.text {
    margin-top: 20px;
}