* {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
    background-color: white;
}


body {
    font-family: Oswald, Arial;
    text-transform: uppercase;
    width: 800px;
    align-self: center;
    margin: auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    align-content: center;
    vertical-align: middle;
    margin: auto;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
    align-content: center;
}

.logo,
.section_title {
    font-weight: 600;
    font-size: 18px;
}

.nav {
    list-style-type: none;
}

.menu_item {
    transition: 0.3s;
    display: inline-block;
    font-size: 12px;
    padding: 0px 10px;
}

.menu_item:hover {
    transform: scale(1.2);
}

.take_time_container {
    background-image: url("https://images.unsplash.com/photo-1494415859740-21e878dd929d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 330px;
    display: flex;
    align-content: center;
    position: relative;
    display: flex;
    justify-content: center;
}

.take_time {
    height: 60%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.take_time_span {
    color: white;
    margin: auto;
    font-size: 36px;
    font-weight: 600;
}

.rect {
    fill: rgb(143, 128, 125);
    margin-top: 100px;
}

.section_title {
    text-align: center;
    padding: 25px;
}



.story_bottom {
    display: flex;
    flex-direction: row;
    height: 230px;
    padding: 0 20px 20px 20px;
}

.story_bottom > * {
    margin: 0 20px 10px 20px;
    display: flex;
    align-items: center;
}




.story_right {
    text-transform: none;
    font-size: 12px;
    max-width: 50%;
    padding-right: 50px;
}

.img_barista {
    width: auto;
    height: 100%;
}

.blog_container {
    background-color: rgb(230, 230, 230);
    padding-bottom: 40px;
    
}

.blog_bottom {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.blog_card {
    background-color: white;
    width: 30%;
    padding: 10px;
    margin: 5px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog_card_label {
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 0.8em;
}

.blog_card_image {
    width: 100%;
    height: auto;
}

.blog_card_text {
    text-transform: none;
    font-size: 10px;
}



.footer_top {
    background-color: rgb(143, 128, 125);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.footer_top > * {
    margin: 8px;
}

.footer_subscribe {
    background-color: rgb(143, 128, 125);
    color: #fff;
    font-size: 1.3em;
}

.email {
    background-color: inherit;
    color: #fff;
    border-color: #fff;
    border: 1px solid;
    padding: 10px;
}

.email::placeholder {
    color: #fff;
    text-align: center;
    font-weight: 100;
    font-family: Roboto;
}

.footer_submit {
    background-color: #fff;
    border: 0;
    color: rgb(143, 128, 125);
    font-family: Oswald;
    text-transform: uppercase;
    padding: 10px 25px;
    cursor: pointer;
}

.footer_copyright {
    font-weight: 100;
    text-align: center;
    padding: 10px;
}